<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<header>
  <div class = 'container'>
    <div class = 'headerParent'>
      <div class = 'headerParend__left'>
        <img id = 'logoimg' src="../public/images/logo.png" alt="logo">
        <div id = 'productName'>ANSR</div>
      </div>
      <div class = 'headerParend__right'>
        <img id = 'avatar' src="../public/images/avatar.png" alt="avatar">
      </div>
    </div>
  </div>
</header>
<section class = 'subjectsList'>
  <div class = 'container'>
     <div class = 'sectionHeader'>Choose a subject</div>
     <div id = 'cardsParent'></div>
  </div>
</section>
<script src="../../public/js/logo.js"></script>
<script src="../../public/js/index.js"></script>

  